body					{font-weight:normal;}

#createTable			{border-collapse: collapse;}
#createTable th			{text-align:left;width:150px;border-right:1px solid #000000;height:30px;}
#createTable td			{padding:0 0 0 20px;}
#createTable .xxl,
#createTable textarea,
#createTable select		{width:200px;box-sizing:border-box;}

#createTable textarea	{height:80px;}